
* {box-sizing: border-box}

/* Set height of body and the document to 100% */
body, html {
background-color: #f9bcbc;
  height: 100%;
  margin: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Style tab links */
.tablink {
  background-color: #b09322;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 20%;
}

.tablink:hover {
  background-color: #e2c045;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: white;
  display: none;
  padding: 100px 20px;
  height: 100%;
}

#Home {background-color: #f9bcbc;}
#Dead Sea {background-color: #f9bcbc;}
#Petra {background-color: #f9bcbc;}
#Wadi Rum {background-color: #f9bcbc;}
#Roman Ruins {background-color: #f9bcbc;}
.auto-style1 {
color: #FFFFFF;
}
.auto-style2 {
text-decoration: none;
}
.auto-style3 {
color: #FFFFF6;
}
